<%- include('./partials/header') %>
<div class="blog">
	<header>
  <h1>Blog</h1>
  <a href="/schemes/new">Post A Blog</a>
  
</header>
<div class="band">


 <% blog.forEach((element)=>{ %>
  <div class = "item-2" >
      <a href ='#'   class="card" > 
      <div class = "thumb" style = "background-image: url('<%=element.image %>'); " > </div> 
  
      <article >
      <h1 > <%= element.Technology %> </h1>  
      <p > <%= element.Use %> </p> 
    
      </article> 
      </a> 
    </div>
<% }) %>
      
</div>
	</div>

<%- include('./partials/footer') %>
